.controls {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    gap: 25px;
}

#searchbar {
    width: 50vw;
    height: 35px;
    justify-self: right;
}

.content {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90vw;
    gap: 15px;
}

.card {
    max-width: 20vw;
    display: grid;
    grid-template-rows: 1fr 1fr 8fr;
}

img {
    width: 100%;
    height: auto;
}